.left h1 {
  color: #BF3EFF;
}

.left {
  position: absolute;
  left: 18%;
  background: rgba(255,255,255,0.8);
  margin-top: 100px;
  width: 500px;
  height: 600px;
  padding: 60px;
}

.right {
  position: absolute;
  right: 18%;
  background: rgba(255,255,255,0.8);
  margin-top: 100px;
  width: 500px;
  height: 600px;
  padding: 60px;
}

#input-16,
#input-17,
#input-18 {
  margin-top: 5px;
}

.button-input {
  margin-top: 50px;
}

.login-foot {
  margin-top: 50px;
}

#remember-password {

}

.remember-password-text {
  margin-right: 150px;
  display: inline-block;
  color: #2fa0ec;
  text-decoration: none;
  outline: none;
}

.remember-password-text:hover {
  color: #5E5EA2;
}

.second-bar-background {
  width: 100%;
  height: 100px;
  background: #524664;
}
